@define-color bg #383c4a;
@define-color fg #ffffff;
@define-color yellow #ffcb6b;
@define-color blue #0000ff;
@define-color black #000000;

* {
  font-size: 14px;
  min-height: 0;
  padding: 0;
  margin: 0;
  border-radius: 18px;
  color: @fg;
}

window#waybar {
  background-color: transparent;
}

#workspaces button.active {
  background: @yellow;
}

#workspaces button.active label {
  color: @black;
}

#workspaces {
  padding: 0px 8px;
  background-color: @bg;
}

#mpris {
  padding: 0px 8px;
  background-color: @bg;
  margin-left: 8px;
}

#clock {
  padding: 0px 16px;
  background-color: @bg;
}

#pulseaudio {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  transition: none;
  background-color: @bg;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#cpu {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  transition: none;
  background-color: @bg;
}

#network {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  transition: none;
  background-color: @bg;
}

#memory {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  transition: none;
  background-color: @bg;
}

#backlight {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  transition: none;
  background-color: @bg;
}

#battery {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  transition: none;
  background-color: @bg;
}

#battery.charging {
  background-color: #26a65b;
}

#battery.warning:not(.charging) {
  background-color: #ffbe61;
  color: black;
}

